html{
  font-size: 62.5%;
}
p{
  font-family: 'Playpen Sans', cursive;
}
.container__header__firstpart{
  height: 10rem;
  background-color: var(--colourHeaderBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.container__header__firstpart>p{
  color: var(--colourWhite);
}
.container__header__firstpart>section>button{
  background-color: var(--colourBtn);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0 .3rem;
  font-family: var(--fontMain);
  cursor: pointer;
}
.form__container{
  position: relative;
}
.form__container__fieldset{
  display: flex;
  flex-direction: column;
  border: none;
}
.form__container__fieldset>legend{
  margin: 0 auto;
  font-family: var(--fontMain);
  font-size: 2rem;
}
.form__container__fieldset>input{
  margin: 0 auto;
  width: 35rem;
  height: 2rem;
}
.form__container__fieldset>label{
  margin: 0 30%;
  font-family: var(--fontMain);
  margin-top: 2.5rem;
}
.form__container>input:nth-last-child(1){
  margin-top: 2rem;
  position: absolute;
  border: none;
  width: 5rem;
  background-color: var(--colourBtnValidateInput);
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: var(--colourWhite);
  left: 23rem;
}
.form__container>fieldset>p{
  margin-left: 23rem;
  color: var(--colourRed);
}
